{% extends '_base.html.twig' %}

{% block pageTitle %}new student form% endblock %}

{% block body %}

    <h1>Create new student</h1>


    <form action="/students/processNewForm" method="POST">
        Name:
        <input type="text" name="name">

        <p>
        <input type="submit" value="Create new student">
    </form>


{% endblock %}