{% extends '_base.html.twig' %}

{% block pageTitle %}new student form{% endblock %}

{% block body %}

    <h1>Create new student</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}