{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block body %}

    {% set user = app.session.get('user') %}
    {% if user is null %}
    <p>
        error - you are not logged in
        <br>
        please <a href="{{ path('user_login') }}">login</a> before attempting to access this page
    </p>
    {% else %}

    <header>
        You are logged in as: {{ user.username }}
        <br>
        <a href="{{ path('user_logout') }}">logout</a>
    </header>

    <h1>welcome to ADMIN home page</h1>


    <p>
        Welcome to the <strong>secure</strong> admin home page

    </p>

    {% endif %}
{% endblock %}

