{% extends '_base.html.twig' %}

{% block pageTitle %}list of students{% endblock %}

{% block body %}

    {{ dump() }}

    <ul>
        {% for student in students %}
            <li>
                id = {{ student.id }}
                <br>
                name = {{ student.name }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}