{% extends 'base.html.twig' %}

{% block body %}

    <h1>Admin - secret codes page</h1>

    <p>
        today's password code is:
    </p>

    <blockquote>
        the weather seems to be getting warmer finally
    </blockquote>

    <hr>
    <a href="/admin">admin home</a>
{% endblock %}
