{% extends 'base.html.twig' %}

{% block body %}

    <h1>Admin home page</h1>

    <p>
        welcome to the admin home page
    </p>

    <hr>
    <a href="/admin/codes">admin codes page</a>
{% endblock %}
