{% extends '_base.html.twig' %}

{% block pageTitle %}show one student{% endblock %}

{% block body %}

    <h1>Show one student</h1>

    <p>
        id = {{ student.id }}

    <p>
        name = {{ student.name }}

    <hr>
    <a href="{{ path('students_list') }}">list of students</a>

{% endblock %}