{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block body %}
    <h1>welcome to ADMIN home page</h1>

    <p>
        Welcome to the <strong>secure</strong> admin home page
    </p>
{% endblock %}

