{% extends 'base.html.twig' %}

{% block body %}

    <h1>ADMIN codes page</h1>

    <p>
        here are today's secret agent codes
    </p>

    <ul>
        <li>
            GREETING:
            "the weather is looking warmer today"
        </li>
        <li>
            RESPONSE:
            "yes, but I'm sure it will rain later"
        </li>
    </ul>

    <hr>
    <a href="/admin">admin home page</a>
{% endblock %}
