{% extends 'base.html.twig' %}

{% block body %}

    <h1>ADMIN home page</h1>

    <p>
        welcome to the ADMIN home page
    </p>

    <hr>
    <a href="/admin/codes">admin codes page</a>
{% endblock %}
